@import 'variables.sass'

body
  background-color: $brand-faint-a
  color: $brand-dark-b
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif

::selection,
::-moz-selection
  background-color: $brand-dark-b
  color: $brand-bright-a

button,
a
  border: none !important
  outline: 0.25rem solid #0000 !important
  transition: $mtl-transition
  &:focus,
  &:active
    outline-color: $brand-dark-a !important
button
  &:hover
    outline-color: lighten($brand-dark-a, 50%) !important

h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Dosis', Georgia, serif
  margin: 0

h1,
h3,
h5
  font-weight: bold

h2,
h4,
h6
  font-style: italic

h1
  font-size: $font-h1
h2
  font-size: $font-h2
h3
  font-size: $font-h3
h4
  font-size: $font-h4
h5
  font-size: $font-h5
p
  font-size: $font-p
  margin: 0

a
  position: relative
  color: $brand-dark-a
  text-decoration: none
  font-weight: bold
  transition: all 0.3s cubic-bezier(0.065, 0.950, 0.500, 0.930) 0s
  &::after
    content: ""
    position: absolute
    width: 100%
    height: 1px
    bottom: 0
    left: 0
    z-index: 10
    background-color: $brand-dark-a
    visibility: hidden
    transform: scaleX(0)
    transition: all 0.3s cubic-bezier(0.065, 0.950, 0.500, 0.930)
  &:hover::after
    visibility: visible
    transform: scaleX(1)

.general-container
  margin: calc($mtl-pad * 2)
  &.with-background
    border-radius: calc($mtl-round * 2)
    background-color: $brand-light-a
    padding: calc($mtl-pad * 2)

.dark
  background-color: $brand-dark-b
  color: $brand-faint-a
  a
    color: $brand-medium-a
    &::after
      background-color: $brand-medium-a
  .general-container
    &.with-background
      background-color: $brand-dark-a
