#app {
	position: relative;
	width: 75vw;
	max-width: 196rem;
	margin: auto;
}

.header,
.footer,
.main {
	position: relative;
	padding: 2rem 4rem;
}

.header,
.footer {
	text-align: center;
	margin: 0;
}

.header h1,
.footer p {
	margin: 0;
}

.main h2 {
	display: none;
}

.icons img {
	width: 100%;
	height: 100%;
}

.icons {
	display: flex;
	grid-gap: 2rem;
}

.icons > * {
	flex: 1 1 auto;
}

ul {
	list-style: none;
	padding-left: 0;
}

li ul {
	padding-left: 1rem;
}

li > .color-code {
	margin-right: 0.25rem;
}

.color-code {
	width: 2rem;
	height: 1rem;
	display: inline-block;
	margin: 0;
	padding: 0;
	border-radius: 0.25rem;
}

.gallery-element .color-code {
	position: absolute;
	margin: 0.25rem;
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0.25rem;
}

.gallery-element {
	height: 12rem;
}

.gallery-element > a {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	line-height: 100%;
	display: block;
	position: relative;
}

.gallery-element > a > span {
	position: absolute;
	text-align: center;
	bottom: 1rem;
	left: 0;
	right: 0;
	padding: 0.5rem;
}

@media screen and (max-aspect-ratio: 3/2) {
	.gallery-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.gallery-element {
		height: 8rem;
	}
	
	#app {
		width: 85vw;
	}
}

@media screen and (max-aspect-ratio: 1/1) {
	.header,
	.footer,
	.main {
		padding: 1rem;
	}
	
	#app {
		width: 95vw;
	}
	
	.gallery-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.gallery-element {
		height: 12rem;
	}
}