@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700&display=swap');

html {
	background-color: #eb9289ff;
	font-family: 'Dosis', sans-serif;
	font-size: 150%;
}

.header, .footer {
	background-color: #351431ff;
	color: #ffe0e8ff;
}

.main {
	background-color: #ffe0e8ff;
	color: #351431ff;
}

.gallery-element > a {
	background-size: cover;
	background-position: center center;
	border-radius: 0.25rem;
}

.gallery-element > a > span {
	background-color: #0009;
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
}